res/values-af/ext_strings.xml merge=ours
res/values-am/ext_strings.xml merge=ours
res/values-ar/ext_strings.xml merge=ours
res/values-as-rIN/ext_strings.xml merge=ours
res/values-ast-rES/ext_strings.xml merge=ours
res/values-az/ext_strings.xml merge=ours
res/values-b+sr+Latn/ext_strings.xml merge=ours
res/values-be/ext_strings.xml merge=ours
res/values-bg/ext_strings.xml merge=ours
res/values-bn/ext_strings.xml merge=ours
res/values-br-rFR/ext_strings.xml merge=ours
res/values-bs/ext_strings.xml merge=ours
res/values-ca/ext_strings.xml merge=ours
res/values-cs/ext_strings.xml merge=ours
res/values-csb/ext_strings.xml merge=ours
res/values-cy/ext_strings.xml merge=ours
res/values-da/ext_strings.xml merge=ours
res/values-de/ext_strings.xml merge=ours
res/values-el/ext_strings.xml merge=ours
res/values-en-rAU/ext_strings.xml merge=ours
res/values-en-rCA/ext_strings.xml merge=ours
res/values-en-rGB/ext_strings.xml merge=ours
res/values-en-rIN/ext_strings.xml merge=ours
res/values-en-rPT/ext_strings.xml merge=ours
res/values-eo/ext_strings.xml merge=ours
res/values-es/ext_strings.xml merge=ours
res/values-es-rCO/ext_strings.xml merge=ours
res/values-es-rMX/ext_strings.xml merge=ours
res/values-es-rUS/ext_strings.xml merge=ours
res/values-et/ext_strings.xml merge=ours
res/values-eu/ext_strings.xml merge=ours
res/values-fa/ext_strings.xml merge=ours
res/values-fi/ext_strings.xml merge=ours
res/values-fil/ext_strings.xml merge=ours
res/values-fr/ext_strings.xml merge=ours
res/values-fr-rCA/ext_strings.xml merge=ours
res/values-frp/ext_strings.xml merge=ours
res/values-fy-rNL/ext_strings.xml merge=ours
res/values-ga-rIE/ext_strings.xml merge=ours
res/values-gd/ext_strings.xml merge=ours
res/values-gl/ext_strings.xml merge=ours
res/values-gu/ext_strings.xml merge=ours
res/values-hi/ext_strings.xml merge=ours
res/values-hr/ext_strings.xml merge=ours
res/values-hu/ext_strings.xml merge=ours
res/values-hy/ext_strings.xml merge=ours
res/values-in/ext_strings.xml merge=ours
res/values-is/ext_strings.xml merge=ours
res/values-it/ext_strings.xml merge=ours
res/values-iw/ext_strings.xml merge=ours
res/values-ja/ext_strings.xml merge=ours
res/values-ka/ext_strings.xml merge=ours
res/values-kab-rDZ/ext_strings.xml merge=ours
res/values-kk/ext_strings.xml merge=ours
res/values-km/ext_strings.xml merge=ours
res/values-kn/ext_strings.xml merge=ours
res/values-ko/ext_strings.xml merge=ours
res/values-ku/ext_strings.xml merge=ours
res/values-ky/ext_strings.xml merge=ours
res/values-lb/ext_strings.xml merge=ours
res/values-lo/ext_strings.xml merge=ours
res/values-lt/ext_strings.xml merge=ours
res/values-lv/ext_strings.xml merge=ours
res/values-mk/ext_strings.xml merge=ours
res/values-ml/ext_strings.xml merge=ours
res/values-mn/ext_strings.xml merge=ours
res/values-mr/ext_strings.xml merge=ours
res/values-ms/ext_strings.xml merge=ours
res/values-my/ext_strings.xml merge=ours
res/values-nb/ext_strings.xml merge=ours
res/values-ne/ext_strings.xml merge=ours
res/values-nl/ext_strings.xml merge=ours
res/values-oc/ext_strings.xml merge=ours
res/values-or-rIN/ext_strings.xml merge=ours
res/values-pa/ext_strings.xml merge=ours
res/values-pl/ext_strings.xml merge=ours
res/values-pt/ext_strings.xml merge=ours
res/values-pt-rBR/ext_strings.xml merge=ours
res/values-pt-rPT/ext_strings.xml merge=ours
res/values-rm/ext_strings.xml merge=ours
res/values-ro/ext_strings.xml merge=ours
res/values-ru/ext_strings.xml merge=ours
res/values-sc-rIT/ext_strings.xml merge=ours
res/values-si/ext_strings.xml merge=ours
res/values-sk/ext_strings.xml merge=ours
res/values-sl/ext_strings.xml merge=ours
res/values-sq/ext_strings.xml merge=ours
res/values-sr/ext_strings.xml merge=ours
res/values-sv/ext_strings.xml merge=ours
res/values-sw/ext_strings.xml merge=ours
res/values-ta/ext_strings.xml merge=ours
res/values-te/ext_strings.xml merge=ours
res/values-th/ext_strings.xml merge=ours
res/values-tl/ext_strings.xml merge=ours
res/values-tr/ext_strings.xml merge=ours
res/values-ug/ext_strings.xml merge=ours
res/values-uk/ext_strings.xml merge=ours
res/values-ur/ext_strings.xml merge=ours
res/values-uz/ext_strings.xml merge=ours
res/values-vec/ext_strings.xml merge=ours
res/values-vi/ext_strings.xml merge=ours
res/values-zh-rCN/ext_strings.xml merge=ours
res/values-zh-rHK/ext_strings.xml merge=ours
res/values-zh-rTW/ext_strings.xml merge=ours
res/values-zu/ext_strings.xml merge=ours
res/values-af/qcomstrings.xml merge=ours
res/values-am/qcomstrings.xml merge=ours
res/values-ar/qcomstrings.xml merge=ours
res/values-as-rIN/qcomstrings.xml merge=ours
res/values-ast-rES/qcomstrings.xml merge=ours
res/values-az/qcomstrings.xml merge=ours
res/values-b+sr+Latn/qcomstrings.xml merge=ours
res/values-be/qcomstrings.xml merge=ours
res/values-bg/qcomstrings.xml merge=ours
res/values-bn/qcomstrings.xml merge=ours
res/values-br-rFR/qcomstrings.xml merge=ours
res/values-bs/qcomstrings.xml merge=ours
res/values-ca/qcomstrings.xml merge=ours
res/values-cs/qcomstrings.xml merge=ours
res/values-csb/qcomstrings.xml merge=ours
res/values-cy/qcomstrings.xml merge=ours
res/values-da/qcomstrings.xml merge=ours
res/values-de/qcomstrings.xml merge=ours
res/values-el/qcomstrings.xml merge=ours
res/values-en-rAU/qcomstrings.xml merge=ours
res/values-en-rCA/qcomstrings.xml merge=ours
res/values-en-rGB/qcomstrings.xml merge=ours
res/values-en-rIN/qcomstrings.xml merge=ours
res/values-en-rPT/qcomstrings.xml merge=ours
res/values-eo/qcomstrings.xml merge=ours
res/values-es/qcomstrings.xml merge=ours
res/values-es-rCO/qcomstrings.xml merge=ours
res/values-es-rMX/qcomstrings.xml merge=ours
res/values-es-rUS/qcomstrings.xml merge=ours
res/values-et/qcomstrings.xml merge=ours
res/values-eu/qcomstrings.xml merge=ours
res/values-fa/qcomstrings.xml merge=ours
res/values-fi/qcomstrings.xml merge=ours
res/values-fil/qcomstrings.xml merge=ours
res/values-fr/qcomstrings.xml merge=ours
res/values-fr-rCA/qcomstrings.xml merge=ours
res/values-frp/qcomstrings.xml merge=ours
res/values-fy-rNL/qcomstrings.xml merge=ours
res/values-ga-rIE/qcomstrings.xml merge=ours
res/values-gd/qcomstrings.xml merge=ours
res/values-gl/qcomstrings.xml merge=ours
res/values-gu/qcomstrings.xml merge=ours
res/values-hi/qcomstrings.xml merge=ours
res/values-hr/qcomstrings.xml merge=ours
res/values-hu/qcomstrings.xml merge=ours
res/values-hy/qcomstrings.xml merge=ours
res/values-in/qcomstrings.xml merge=ours
res/values-is/qcomstrings.xml merge=ours
res/values-it/qcomstrings.xml merge=ours
res/values-iw/qcomstrings.xml merge=ours
res/values-ja/qcomstrings.xml merge=ours
res/values-ka/qcomstrings.xml merge=ours
res/values-kab-rDZ/qcomstrings.xml merge=ours
res/values-kk/qcomstrings.xml merge=ours
res/values-km/qcomstrings.xml merge=ours
res/values-kn/qcomstrings.xml merge=ours
res/values-ko/qcomstrings.xml merge=ours
res/values-ku/qcomstrings.xml merge=ours
res/values-ky/qcomstrings.xml merge=ours
res/values-lb/qcomstrings.xml merge=ours
res/values-lo/qcomstrings.xml merge=ours
res/values-lt/qcomstrings.xml merge=ours
res/values-lv/qcomstrings.xml merge=ours
res/values-mk/qcomstrings.xml merge=ours
res/values-ml/qcomstrings.xml merge=ours
res/values-mn/qcomstrings.xml merge=ours
res/values-mr/qcomstrings.xml merge=ours
res/values-ms/qcomstrings.xml merge=ours
res/values-my/qcomstrings.xml merge=ours
res/values-nb/qcomstrings.xml merge=ours
res/values-ne/qcomstrings.xml merge=ours
res/values-nl/qcomstrings.xml merge=ours
res/values-oc/qcomstrings.xml merge=ours
res/values-or-rIN/qcomstrings.xml merge=ours
res/values-pa/qcomstrings.xml merge=ours
res/values-pl/qcomstrings.xml merge=ours
res/values-pt/qcomstrings.xml merge=ours
res/values-pt-rBR/qcomstrings.xml merge=ours
res/values-pt-rPT/qcomstrings.xml merge=ours
res/values-rm/qcomstrings.xml merge=ours
res/values-ro/qcomstrings.xml merge=ours
res/values-ru/qcomstrings.xml merge=ours
res/values-sc-rIT/qcomstrings.xml merge=ours
res/values-si/qcomstrings.xml merge=ours
res/values-sk/qcomstrings.xml merge=ours
res/values-sl/qcomstrings.xml merge=ours
res/values-sq/qcomstrings.xml merge=ours
res/values-sr/qcomstrings.xml merge=ours
res/values-sv/qcomstrings.xml merge=ours
res/values-sw/qcomstrings.xml merge=ours
res/values-ta/qcomstrings.xml merge=ours
res/values-te/qcomstrings.xml merge=ours
res/values-th/qcomstrings.xml merge=ours
res/values-tl/qcomstrings.xml merge=ours
res/values-tr/qcomstrings.xml merge=ours
res/values-ug/qcomstrings.xml merge=ours
res/values-uk/qcomstrings.xml merge=ours
res/values-ur/qcomstrings.xml merge=ours
res/values-uz/qcomstrings.xml merge=ours
res/values-vec/qcomstrings.xml merge=ours
res/values-vi/qcomstrings.xml merge=ours
res/values-zh-rCN/qcomstrings.xml merge=ours
res/values-zh-rHK/qcomstrings.xml merge=ours
res/values-zh-rTW/qcomstrings.xml merge=ours
res/values-zu/qcomstrings.xml merge=ours
res/values-af/strings.xml merge=ours
res/values-am/strings.xml merge=ours
res/values-ar/strings.xml merge=ours
res/values-as-rIN/strings.xml merge=ours
res/values-ast-rES/strings.xml merge=ours
res/values-az/strings.xml merge=ours
res/values-b+sr+Latn/strings.xml merge=ours
res/values-be/strings.xml merge=ours
res/values-bg/strings.xml merge=ours
res/values-bn/strings.xml merge=ours
res/values-br-rFR/strings.xml merge=ours
res/values-bs/strings.xml merge=ours
res/values-ca/strings.xml merge=ours
res/values-cs/strings.xml merge=ours
res/values-csb/strings.xml merge=ours
res/values-cy/strings.xml merge=ours
res/values-da/strings.xml merge=ours
res/values-de/strings.xml merge=ours
res/values-el/strings.xml merge=ours
res/values-en-rAU/strings.xml merge=ours
res/values-en-rCA/strings.xml merge=ours
res/values-en-rGB/strings.xml merge=ours
res/values-en-rIN/strings.xml merge=ours
res/values-en-rPT/strings.xml merge=ours
res/values-eo/strings.xml merge=ours
res/values-es/strings.xml merge=ours
res/values-es-rCO/strings.xml merge=ours
res/values-es-rMX/strings.xml merge=ours
res/values-es-rUS/strings.xml merge=ours
res/values-et/strings.xml merge=ours
res/values-eu/strings.xml merge=ours
res/values-fa/strings.xml merge=ours
res/values-fi/strings.xml merge=ours
res/values-fil/strings.xml merge=ours
res/values-fr/strings.xml merge=ours
res/values-fr-rCA/strings.xml merge=ours
res/values-frp/strings.xml merge=ours
res/values-fy-rNL/strings.xml merge=ours
res/values-ga-rIE/strings.xml merge=ours
res/values-gd/strings.xml merge=ours
res/values-gl/strings.xml merge=ours
res/values-gu/strings.xml merge=ours
res/values-hi/strings.xml merge=ours
res/values-hr/strings.xml merge=ours
res/values-hu/strings.xml merge=ours
res/values-hy/strings.xml merge=ours
res/values-in/strings.xml merge=ours
res/values-is/strings.xml merge=ours
res/values-it/strings.xml merge=ours
res/values-iw/strings.xml merge=ours
res/values-ja/strings.xml merge=ours
res/values-ka/strings.xml merge=ours
res/values-kab-rDZ/strings.xml merge=ours
res/values-kk/strings.xml merge=ours
res/values-km/strings.xml merge=ours
res/values-kn/strings.xml merge=ours
res/values-ko/strings.xml merge=ours
res/values-ku/strings.xml merge=ours
res/values-ky/strings.xml merge=ours
res/values-lb/strings.xml merge=ours
res/values-lo/strings.xml merge=ours
res/values-lt/strings.xml merge=ours
res/values-lv/strings.xml merge=ours
res/values-mk/strings.xml merge=ours
res/values-ml/strings.xml merge=ours
res/values-mn/strings.xml merge=ours
res/values-mr/strings.xml merge=ours
res/values-ms/strings.xml merge=ours
res/values-my/strings.xml merge=ours
res/values-nb/strings.xml merge=ours
res/values-ne/strings.xml merge=ours
res/values-nl/strings.xml merge=ours
res/values-oc/strings.xml merge=ours
res/values-or-rIN/strings.xml merge=ours
res/values-pa/strings.xml merge=ours
res/values-pl/strings.xml merge=ours
res/values-pt/strings.xml merge=ours
res/values-pt-rBR/strings.xml merge=ours
res/values-pt-rPT/strings.xml merge=ours
res/values-rm/strings.xml merge=ours
res/values-ro/strings.xml merge=ours
res/values-ru/strings.xml merge=ours
res/values-sc-rIT/strings.xml merge=ours
res/values-si/strings.xml merge=ours
res/values-sk/strings.xml merge=ours
res/values-sl/strings.xml merge=ours
res/values-sq/strings.xml merge=ours
res/values-sr/strings.xml merge=ours
res/values-sv/strings.xml merge=ours
res/values-sw/strings.xml merge=ours
res/values-ta/strings.xml merge=ours
res/values-te/strings.xml merge=ours
res/values-th/strings.xml merge=ours
res/values-tl/strings.xml merge=ours
res/values-tr/strings.xml merge=ours
res/values-ug/strings.xml merge=ours
res/values-uk/strings.xml merge=ours
res/values-ur/strings.xml merge=ours
res/values-uz/strings.xml merge=ours
res/values-vec/strings.xml merge=ours
res/values-vi/strings.xml merge=ours
res/values-zh-rCN/strings.xml merge=ours
res/values-zh-rHK/strings.xml merge=ours
res/values-zh-rTW/strings.xml merge=ours
res/values-zu/strings.xml merge=ours